@font-face {
  font-family: Gilroy;
  src: url("/fonts/gilroyextrabold.woff2"); }

@font-face {
  font-family: GilroyLight;
  src: url("/fonts/gilroylight.woff2"); }

@font-face {
  font-family: OpenSans;
  src: url("/fonts/opensans.woff2"); }

body {
  font-family: OpenSans, sans-serif;
  font-size: 15px; }

.container {
  width: 1160px;
  margin: 0 auto;
  position: relative; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -2px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(83%, #f7e296), color-stop(83%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)), to(#f7e296));
  background: -webkit-linear-gradient(bottom, #f7e296 83%, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0) 100%, #f7e296 100%);
  background: -o-linear-gradient(bottom, #f7e296 83%, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0) 100%, #f7e296 100%);
  background: linear-gradient(to top, #f7e296 83%, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0) 100%, #f7e296 100%);
  padding-bottom: 7px;
  margin-bottom: -1px; }

.header__logo {
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-left: 57px; }

.logo {
  font-family: Gilroy, serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase; }

.logo__link {
  text-decoration: none;
  color: #000000; }
  .logo__link:hover {
    opacity: 0.6; }
  .logo__link:focus {
    opacity: 0.3; }

.header__user-option {
  padding: 5px 60px 31px 60px;
  margin: 0; }

.user-option__menu {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none; }

.user-option__search {
  margin-right: 120px;
  position: relative; }
  .user-option__search::before {
    content: '';
    width: 19px;
    height: 19px;
    position: absolute;
    top: 18px;
    background-image: url("/img/search.svg");
    background-repeat: no-repeat;
    z-index: 2; }

.user-option__searchbar {
  color: #000000;
  width: 440px;
  padding: 15px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: 2px solid transparent;
  font-family: inherit;
  font-size: 15px; }
  .user-option__searchbar:hover {
    opacity: 0.6; }
  .user-option__searchbar:focus {
    border-bottom: solid 2px #000000; }
  .user-option__searchbar::-webkit-input-placeholder {
    opacity: 0.3; }
  .user-option__searchbar::-moz-placeholder {
    opacity: 0.3; }
  .user-option__searchbar:-ms-input-placeholder {
    opacity: 0.3; }
  .user-option__searchbar::-ms-input-placeholder {
    opacity: 0.3; }
  .user-option__searchbar::placeholder {
    opacity: 0.3; }

.user-option__search-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 14px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #000000; }
  .user-option__search-button:hover {
    background-color: #000000;
    color: #ffffff; }
  .user-option__search-button:active {
    background-color: #000000;
    color: #ffffff; }
  .user-option__search-button:focus {
    background-color: #000000;
    color: #ffffff;
    opacity: 0.3; }

.user-option__login {
  margin-right: 230px; }

.user-option__login-button {
  position: relative;
  background-color: transparent;
  color: inherit;
  border: 0;
  cursor: pointer; }
  .user-option__login-button::before {
    content: '';
    width: 13px;
    height: 12px;
    background-image: url("/img/user.svg");
    position: absolute;
    right: 62px;
    top: 3px; }
  .user-option__login-button:hover {
    opacity: 0.6; }
  .user-option__login-button:focus {
    opacity: 0.3; }

.user-option__compare {
  margin-right: auto; }

.user-option__link {
  text-decoration: none;
  color: #000000;
  position: relative; }
  .user-option__link:hover {
    opacity: 0.6; }
  .user-option__link:focus {
    opacity: 0.3; }
  .user-option__link_compare::before {
    content: '';
    width: 10px;
    height: 10px;
    background-image: url("/img/compare.svg");
    position: absolute;
    right: 80px;
    top: 7px; }
  .user-option__link_cart::before {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url("/img/cart.svg");
    position: absolute;
    right: 70px;
    top: 5px; }

.navigation__list {
  margin: 0;
  padding: 0 60px 45px 60px;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.navigation__link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Gilroy, serif;
  font-size: 18px;
  letter-spacing: 0.2em; }
  .navigation__link:hover {
    opacity: 0.6; }
  .navigation__link:focus {
    opacity: 0.3; }

.navigation__catalog {
  margin-right: 320px;
  position: relative; }

.navigation__catalog-plus {
  display: block;
  margin: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 230px;
  bottom: 3px;
  background-image: url("/img/plus.svg");
  opacity: 0.3;
  cursor: pointer; }

.navigation__delivery {
  margin-right: 35px; }

.navigation__guarantee {
  margin-right: auto; }

.catalog {
  width: 1100px;
  padding-left: 60px;
  padding-bottom: 20px;
  left: 0;
  top: 207px;
  position: absolute;
  z-index: 10;
  background-color: #f7e296; }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.catalog__column {
  margin-right: 62px; }

.catalog__item {
  margin-bottom: 20px; }

.catalog__link {
  text-decoration: none;
  color: #000000; }
  .catalog__link:hover {
    opacity: 0.6; }
  .catalog__link:focus {
    opacity: 0.3; }

.main__title {
  margin: 40px 60px 50px 60px; }

.main__heading {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: Gilroy, serif;
  font-size: 47px; }

.main__nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none; }
  .main__nav-item {
    margin-right: 30px;
    position: relative; }
    .main__nav-item:before {
      content: '';
      width: 4px;
      height: 7px;
      background-image: url("/img/nav-arrow.svg");
      position: absolute;
      z-index: 5;
      right: -17px;
      top: 6px; }
    .main__nav-item:last-child::before {
      display: none; }
  .main__nav-link {
    text-decoration: none;
    color: #000000;
    opacity: 0.3; }
    .main__nav-link:hover {
      opacity: 0.6; }
    .main__nav-link:focus {
      opacity: 0.1; }

.catalog-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 58px; }

.filter {
  width: 200px; }

.filter__type {
  display: block;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 28px;
  font-family: Gilroy, serif;
  font-size: 18px;
  font-weight: normal; }

.filter__range {
  margin: 0; }

.filter__input_range {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border: none;
  background-color: #dbdbdb; }
  .filter__input_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 10px solid #ffffff;
    -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.75);
    width: 2px;
    height: 2px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    cursor: pointer; }
  .filter__input_range::-moz-range-track {
    width: 100%;
    border: none;
    background-color: #dbdbdb; }
  .filter__input_range::-moz-range-thumb {
    border: 8px solid #ffffff;
    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.75);
    width: 2px;
    height: 2px;
    border-radius: 10px;
    cursor: pointer; }

.filter__price, .filter__color, .filter__bluetooth {
  padding-bottom: 54px;
  border-top: 2px  solid #000000; }

.filter__color {
  padding-bottom: 21px; }

.filter__checkbox {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 23px; }

.filter__label_checkbox, .filter__label_radio {
  padding-left: 40px;
  position: relative;
  cursor: pointer; }
  .filter__label_checkbox:hover, .filter__label_radio:hover {
    opacity: 0.6; }

.filter__bluetooth {
  padding-bottom: 17px; }

.filter__radio {
  margin: 0;
  margin-bottom: 25px; }

.filter__show {
  margin: 0;
  padding: 12px 0;
  width: 200px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, rgba(250, 250, 250, 0)), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, rgba(250, 250, 250, 0)));
  background: -webkit-linear-gradient(bottom, rgba(250, 250, 250, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(250, 250, 250, 0) 60%);
  background: -o-linear-gradient(bottom, rgba(250, 250, 250, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(250, 250, 250, 0) 60%);
  background: linear-gradient(to top, rgba(250, 250, 250, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(250, 250, 250, 0) 60%); }
  .filter__show:hover {
    background-color: #f0c52e; }

.filter__link {
  font-family: Gilroy, serif;
  font-size: 18px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000; }

.filter__heading, .sort__top-heading {
  margin: 0;
  margin-bottom: 69px;
  font-family: Gilroy, serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px; }

.filter__input_checkbox + .checkbox-indication {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("/img/checkbox-off.svg");
  top: 0;
  left: 0; }

.filter__input_checkbox:focus + .checkbox-indication {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color; }

.filter__input_checkbox:checked + .checkbox-indication::before {
  content: '';
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("/img/checkbox-on.svg");
  top: 0;
  left: 0; }

.filter__input_radio + .radioOther-indication {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 4px solid #000000;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  top: 0;
  left: 0; }

.filter__input_radio:focus + .radioOther-indication {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color; }

.filter__input_radio:checked + .radioOther-indication::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border: 5px solid #000000;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  top: 3px;
  left: 3px; }

.sort {
  width: 760px; }

.sort__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 69px; }

.heading__title {
  margin: 0;
  margin-right: 55px; }

.heading__type {
  width: 560px;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.heading__item {
  margin-right: 29px; }

.heading__link {
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  opacity: 0.3; }
  .heading__link:hover {
    opacity: 0.6; }
  .heading__link:focus {
    opacity: 1; }

.heading__pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.heading__arrow {
  margin-left: 20px; }

.heading__link {
  opacity: 0.2;
  display: inline-block; }
  .heading__link_up {
    width: 11px;
    height: 11px;
    background-image: url("/img/icon-up-dir.svg");
    background-repeat: no-repeat; }
  .heading__link_down {
    width: 11px;
    height: 11px;
    background-image: url("/img/icon-down-dir.svg");
    background-repeat: no-repeat; }
  .heading__link:hover {
    opacity: 0.4; }
  .heading__link:focus {
    opacity: 1; }

.sort__products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.products__item {
  width: 360px;
  margin-bottom: 46px; }
  .products__item:nth-child(1n+3), .products__item:nth-child(1n+4) {
    margin-bottom: 35px; }

.item__picture {
  position: relative; }
  .item__picture:hover {
    cursor: pointer; }

.item__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(250, 250, 250, 0.3); }

.item__wrapper {
  display: block;
  margin: 170px 80px; }

.item__button_cart {
  width: 200px;
  margin-bottom: 30px;
  padding: 12px 0;
  text-align: center;
  font-family: Gilroy, serif;
  font-size: 18px;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, rgba(250, 250, 250, 0)), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, rgba(250, 250, 250, 0)));
  background: -webkit-linear-gradient(bottom, rgba(250, 250, 250, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(250, 250, 250, 0) 60%);
  background: -o-linear-gradient(bottom, rgba(250, 250, 250, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(250, 250, 250, 0) 60%);
  background: linear-gradient(to top, rgba(250, 250, 250, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(250, 250, 250, 0) 60%); }
  .item__button_cart:hover {
    background-color: #f0c52e; }

.item__link {
  display: inline-block;
  margin: 0;
  text-align: center;
  border: none;
  background-color: transparent;
  width: 200px;
  opacity: 0.5; }
  .item__link:hover {
    opacity: 1; }
  .item__link:focus {
    opacity: 0.2; }

.item__link-text {
  color: #000000;
  text-decoration: none;
  font-size: 13px; }

.item__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: 29px; }

.item__name {
  width: 255px;
  font-family: Gilroy, serif;
  font-size: 18px;
  line-height: 24px; }

.item__price {
  font-family: GilroyLight, serif;
  font-size: 16px;
  line-height: 25px; }

.sort__pagination {
  margin: 0;
  margin-bottom: 77px;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ebebeb; }

.pagination__link {
  font-family: Gilroy, serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase; }
  .pagination__link_letter:focus {
    opacity: 0.3; }
  .pagination__link_digit {
    opacity: 0.3; }
    .pagination__link_digit:hover {
      opacity: 0.6; }
    .pagination__link_digit:focus {
      opacity: 1; }

.pagination__direction, .pagination__numbers {
  padding: 28px 30px 24px; }

.pagination__direction {
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
  opacity: 1;
  cursor: pointer; }
  .pagination__direction:hover {
    background-color: #d9d9d9; }

.pagination__numbers {
  width: 88px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 12px; }

.footer {
  background-color: #464646;
  padding: 41px 0; }

.footer__row_1, .footer__row_2, .footer__row_3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer__row_1 {
  padding-bottom: 11px; }

.footer__logo {
  font-family: Gilroy, serif;
  font-size: 48px;
  text-transform: uppercase;
  text-decoration: none;
  color: #f0c52e;
  margin: 0;
  padding: 0; }
  .footer__logo:hover {
    opacity: 0.6; }
  .footer__logo:active {
    opacity: 0.3; }

.footer__user-option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 305px;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 27px; }

.footer__login {
  color: #ffffff;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  opacity: 0.7; }
  .footer__login:hover {
    opacity: 1; }
  .footer__login:active {
    opacity: 0.3; }
  .footer__login::before {
    content: '';
    width: 13px;
    height: 12px;
    background-color: #f0c52e;
    -webkit-mask-image: url("/img/user.svg");
    mask-image: url("/img/user.svg");
    position: absolute;
    right: 65px;
    top: 4px;
    opacity: 1; }

.footer__link {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  opacity: 0.7; }
  .footer__link:hover {
    opacity: 1; }
  .footer__link:active {
    opacity: 0.3; }
  .footer__link_compare:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #f0c52e;
    -webkit-mask-image: url("/img/compare.svg");
    mask-image: url("/img/compare.svg");
    position: absolute;
    right: 82px;
    top: 5px; }
  .footer__link_cart:before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #f0c52e;
    -webkit-mask-image: url("/img/cart.svg");
    mask-image: url("/img/cart.svg");
    position: absolute;
    right: 75px;
    top: 5px;
    opacity: 1; }

.footer__row_2 {
  padding-bottom: 68px; }

.footer__adress, .footer__phone {
  margin: 0;
  color: #ffffff; }

.footer__services-short {
  margin: 0;
  padding: 0;
  padding-right: 43px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 430px;
  font-family: Gilroy, serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  list-style-type: none; }

.services-short__link {
  color: #ffffff;
  text-decoration: none; }
  .services-short__link:hover {
    opacity: 0.6; }
  .services-short__link:active {
    opacity: 0.3; }

.footer__row_3 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 60px;
  position: relative; }
  .footer__row_3::before {
    content: '';
    width: 80px;
    height: 7px;
    background-color: #f0c52e;
    position: absolute;
    left: 0;
    top: 12px; }
  .footer__row_3::after {
    content: '';
    width: 27px;
    height: 35px;
    background-image: url("/img/logo-html.svg");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: -2px; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 110px;
  list-style-type: none;
  padding: 0;
  padding-right: 33px;
  margin: 0; }

.social:focus + .social__facebook::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color; }

.social__facebook:hover, .social__instagram:hover, .social__twitter:hover {
  opacity: 0.6; }

.social__facebook:active, .social__instagram:active, .social__twitter:active {
  opacity: 0.1; }

.social__facebook {
  position: relative;
  opacity: 0.3; }
  .social__facebook::before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url("/img/fb.svg"); }

.social__instagram {
  position: relative;
  opacity: 0.3; }
  .social__instagram::before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url("/img/insta.png"); }

.social__twitter {
  position: relative;
  opacity: 0.3; }
  .social__twitter::before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url("/img/twitter.svg"); }
