.main__title {

    margin: 40px 60px 50px 60px;

}

.main__heading {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;

    font-family: Gilroy, serif;
    font-size: 47px;
}

.main__nav {
    margin: 0;
    padding: 0;

    display: flex;

    list-style-type: none;

    &-item{
        margin-right: 30px;
        position: relative;

        &:before{

            content: '';
            width: 4px;
            height: 7px;

            background-image: url('/img/nav-arrow.svg');

            position: absolute;
            z-index: 5;
            
            right: -17px;
            top: 6px;
        }

        &:last-child {

            &::before {
                display: none;
            }

        }
        
    }

    &-link {
        text-decoration: none;
        color: #000000;
        opacity: 0.3;

        &:hover {
            opacity: 0.6;
        }

        &:focus {
            opacity: 0.1;
        }

    }

}

.catalog-wrapper {
    display: flex;
    justify-content: space-between;

    margin-left: 58px;
}
