.footer{
    background-color: #464646;
    padding: 41px 0;
}

.footer__row_1, .footer__row_2, .footer__row_3 {
    display: flex;
    justify-content: space-between;
}

.footer__row_1 {
    padding-bottom: 11px;
}

.footer__logo {
    font-family: Gilroy, serif;
    font-size: 48px;
    text-transform: uppercase;
    text-decoration: none;
    color: $brightYellow;

    margin: 0;
    padding: 0;

    &:hover {
        opacity: 0.6;
    }

    &:focus {
        opacity: 0.3;
    }
}

.footer__user-option {
    display: flex;
    justify-content: space-between;
    width: 305px;
    align-items: baseline;
    padding-top: 27px;

}

.footer__login {

    color: #ffffff;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;

    opacity: 0.7;

    &:hover {
        opacity: 1;
    }

    &:focus {
        opacity: 0.3;
    }

    &::before {
        content: '';
        width: 13px;
        height: 12px;
        background-color: $brightYellow;
        -webkit-mask-image: url('/img/user.svg');
        mask-image: url('/img/user.svg');
        position: absolute;
        right: 65px;
        top: 4px;
        opacity: 1;

        // &:hover {
        //     opacity: 0.6;
        // }
    
        // &:focus {
        //     opacity: 0.3;
        // }
    }

}

.footer__compare {

    margin: 0;
    padding: 0;

    &-link {
        color: #ffffff;
        text-decoration: none;
        position: relative;
        opacity: 0.7;

        &::before {
            content: '';
            width: 10px;
            height: 10px;
            background-color: $brightYellow;
            -webkit-mask-image: url('/img/compare.svg');
            mask-image: url('/img/compare.svg');
            position: absolute;
            right: 82px;
            top: 5px;

            // &:hover {
            //     opacity: 0.7;
            // }
        
            // &:focus {
            //     opacity: 0.3;
            // }
        }

        &:hover {
            opacity: 1;
        }

        &:focus {
            opacity: 0.3;
        }

    }

}

.footer__cart {

    margin: 0;
    padding: 0;

    &-link {
        color: #ffffff;
        text-decoration: none;
        position: relative;
        opacity: 0.7;

        &::before {
            content: '';
            width: 12px;
            height: 12px;
            background-color: $brightYellow;
            -webkit-mask-image: url('/img/cart.svg');
            mask-image: url('/img/cart.svg');
            position: absolute;
            right: 75px;
            top: 5px;
            opacity: 1;

            // &:hover {
            //     opacity: 0.7;
            // }
        
            // &:focus {
            //     opacity: 0.3;
            // }
        }

        &:hover {
        opacity: 1;
        }

        &:focus {
            opacity: 0.3;
        }

    }

 

}

.footer__row_2 {
    padding-bottom: 68px;
}

.footer__adress, .footer__phone {
    margin: 0;
    color: #ffffff;

}

.footer__services {

    margin: 0;
    padding: 0;
    padding-right: 43px;

    display: flex;
    justify-content: space-between;
    width: 430px;

    font-family: Gilroy, serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;

    list-style-type: none;

    &-link {
        color: #ffffff;
        text-decoration: none;

         &:hover {
            opacity: 0.6;
        }

        &:focus {
            opacity: 0.3;
        }
    }

   
    
}

.footer__row_3 {
    justify-content: center;
    padding-bottom: 60px;
    position: relative;

    &::before {
        content: '';
        width: 80px;
        height: 7px;

        background-color: $brightYellow;
        position: absolute;
        left: 0;
        top: 12px;
    }

    &::after{
        content: '';
        width: 27px;
        height: 35px;

        background-image: url('/img/logo-html.svg');
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: -2px;
    }
}

.social {
    display: flex;
    justify-content: space-between;

    width: 110px;

    list-style-type: none;
    padding: 0;
    padding-right: 33px;
    margin: 0;

    &:focus + &__facebook::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }


    &__facebook {
        position: relative;
        opacity: 0.3;

        &::before {
            content: '';
            width: 32px;
            height: 32px;
            position: absolute;

            background-image: url('/img/fb.svg');
        }

        &:hover {
            opacity: 0.6;
        }

        &:focus {
            opacity: 0.1;
        }
    }

    &__instagram {
        position: relative;
        opacity: 0.3;

        &::before {
            content: '';
            width: 32px;
            height: 32px;
            position: absolute;

            background-image: url('/img/insta.png');
        }

        &:hover {
            opacity: 0.6;
        }

        &:focus {
            opacity: 0.1;
        }
    }

    &__twitter {
        position: relative;
        opacity: 0.3;

        &::before {
            content: '';
            width: 32px;
            height: 32px;
            position: absolute;

            background-image: url('/img/twitter.svg');
        }

        &:hover {
            opacity: 0.6;
        }

        &:focus {
            opacity: 0.1;
        }
    }
}

