.header {
    background: linear-gradient(to top, $bleakYellow 83%, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0) 100%, $bleakYellow 100%);
    padding-bottom: 7px;

    margin-bottom: -1px;
}

.header__logo {
    margin: 0;
    padding: 0;
    padding-top: 13px;
    padding-left: 57px;
}

.logo { 
    font-family: Gilroy, serif;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase; 
}

.logo__link {
    text-decoration: none;
    color: #000000;  

    &:hover {
        opacity: 0.6;
    }

    &:focus {
        opacity: 0.3;
    }
}

.header__user-option {
    padding: 5px 60px 31px 60px;
    margin: 0;
}

.user-option__menu {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;

    list-style-type: none;
}

.user-option__search {
    margin-right: 120px;
    position: relative;

    &::before {
        content: '';
        width: 19px;
        height: 19px;
        position: absolute;

        top: 18px;

        background-image: url('/img/search.svg');
        background-repeat: no-repeat;
        z-index: 2;
    }
}

.user-option__searchbar {
    color: #000000;
    width: 440px;
    padding: 15px 40px;
    box-sizing: border-box;

    background-color: transparent;
    border: 2px solid transparent;

    font-family: inherit;
    font-size: 15px;
    
    &:hover {
        opacity: 0.6;
    }

    &:focus {
        border-bottom: solid 2px #000000;
    }

    &::placeholder {
        opacity: 0.3;

    }
}

.user-option__search-button {
    position: absolute;
    top: 0;
    right: 0;

    cursor: pointer;

    padding: 14px 20px;
    box-sizing: border-box;

    background-color: transparent;
    border: 2px solid #000000;

    &:hover {
        background-color: #000000;
        color: #ffffff;
    }

    &:active {
        background-color: #000000;
        color: #ffffff;
        
    }

    &:focus {
        background-color: #000000;
        color: #ffffff;
        opacity: 0.3;
    }
}

.user-option__login {
    margin-right: 230px;
}

.user-option__login-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;

    &::before {
        content: '';
        width: 13px;
        height: 12px;
        background-image: url('/img/user.svg');
        position: absolute;
        right: 62px;
        top: 3px;
    }

    &:hover {
        opacity: 0.6;
    }

    &:focus {
        opacity: 0.3;
    }
}

.user-option__compare {
    margin-right: auto;
}

.user-option__link {
    text-decoration: none;
    color: #000000;
    position: relative;

    &:hover {
        opacity: 0.6;
    }

    &:focus {
        opacity: 0.3;
    }

    &_compare {

        &::before {
            content: '';
            width: 10px;
            height: 10px;
            background-image: url('/img/compare.svg');
            position: absolute;
            right: 80px;
            top: 7px;
        }

    }

    &_cart {

        &::before {
            content: '';
            width: 12px;
            height: 12px;
            background-image: url('/img/cart.svg');
            position: absolute;
            right: 70px;
            top: 5px;
        }

    }
}


.navigation__list {
    margin: 0;
    padding: 0 60px 45px 60px;
    list-style-type: none;
    display: flex;
}

.navigation__link {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Gilroy, serif;
    font-size: 18px;
    letter-spacing: 0.2em;

    &:hover {
        opacity: 0.6;
    }

    &:focus {
        opacity: 0.3;
    }  
}

.navigation__catalog {
    margin-right: 320px;
    position: relative;
}

.navigation__catalog-plus {
    display: block;
    margin: 0;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 230px;
    bottom: 3px;

    background-image: url('/img/plus.svg');
    opacity: 0.3;
    cursor: pointer;    
}

.navigation__delivery {
    margin-right: 35px;
}

.navigation__guarantee {
    margin-right: auto;
}


.catalog {
    width: 1100px;
    padding-left: 60px;
    padding-bottom: 20px;
    left: 0;
    top: 207px;
    position: absolute;
    z-index: 10;
    background-color: $bleakYellow;
}

.catalog__list{
    margin: 0;
    padding: 0;

    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
}

.catalog__column {
    margin-right: 62px;
}

.catalog__item {
    margin-bottom: 20px;
}

.catalog__link {
    text-decoration: none;
    color: #000000;

    &:hover {
        opacity: 0.6;
    }

    &:focus {
        opacity: 0.3;
    }

}