.top-product {
    position: relative;
    bottom: 110px;

    &__1 {
        &::after {
            content: '01';
            font-family: Gilroy, serif;
            font-size: 180px;
            color: #ffffff;
            position: absolute;
            right: -12px;
            top: -28px;
        }
    }

    &__2 {
        &::after {
            content: '02';
            font-family: Gilroy, serif;
            font-size: 180px;
            color: #ffffff;
            position: absolute;
            right: 0;
        }
    }

    &__3 {
        &::after {
            content: '03';
            font-family: Gilroy, serif;
            font-size: 180px;
            color: #ffffff;
            position: absolute;
            right: 0;
        }
    }

}

.top-product__slide {
    display: flex;
    justify-content: space-between;
    margin: 0 61px 0 17px;
    position: relative;

    &::before {
        content: '';
        width: 100px;
        height: 7px;
        background-color: #ffffff;
        position: absolute;
        z-index: 1;
        right: 399px;
        top: 37px;
    }

}


// Absolutely positioned slider switcher
.slider{

    width: 485px;
    padding-right: 15px;

    position: absolute;
    right: -1px;
    bottom: 129px;

    display: flex;
    justify-content: space-between;

    &__link {

        width: 220px;
        text-align: center;
        background-color: $brightYellow;

        &_text{
            font-family: Gilroy, serif;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 3px;

            color: #000000;
            text-decoration: none; 
        }
        
    }

    &__buttons {
        display: flex;
        list-style-type: none;
        align-self: center;
    }

    &__button {
        margin-right: 20px;
        padding-left: 13px;

        position: relative;
        cursor: pointer;
    }

}


// Switching standart radio to new
.slider__radio + .radio-indication {
    position: absolute;
    width: 10px;
    height: 10px;

    border: 1px solid #000000;
    border-radius: 10px; 

    top: -6px;
}

.slider__radio:focus + .radio-indication {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.slider__radio:checked + .radio-indication::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    border: 1px solid #000000;
    border-radius: 10px;
    left: 3px;
    top: 3px;
}



.top-product__img {
    width: 530px;
    margin-right: auto;
    align-self: flex-start;

    &_pic {
        display: block;
        margin: 0 auto;
    }

}

.details {
    width: 500px;
    padding-top: 80px;

    &__lead{
        display: block;
        margin-bottom: 19px;

        font-family: Gilroy, serif;
        font-size: 47px;
        line-height: 55px; 
        letter-spacing: 1px; 
    }

    &__ad {

        margin-bottom: 134px; 

        color: #464646;
        line-height: 30px;
        font-weight: lighter;  
    }

}

.char {
    
    width: 500px;
    text-align: left;
    display: inline-block;
    
    &__head {
        font-size: 13px;
        font-weight: 300;

        margin: 0;
        padding: 0;
        padding-right: 74px;
        padding-top: 10px;
    }

    &__value {
        font-family: GilroyLight, serif;
        font-size: 36px;
        
    }

}



.goods-list {
    margin: 0;
    margin-bottom: 81px;
    padding: 0;
    padding-top: 186px;
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        width: 160px; 
    }

    &__link {

        font-family: Gilroy, serif;
        font-size: 18px;
        line-height: 24px;

        color: #000000;
        text-decoration: none;
    }


    &-1 {

        position: relative;

        &::before {
            content: '';
            height: 160px;
            width: 160px;
            position: absolute;
            background-color: $bleakYellow;
            background-image: url('/img/popular-1.svg');
            background-repeat: no-repeat;
            bottom: 80px;
            background-position: center center;
        }

    }

    &-2 {
        position: relative;

        &::before {
            content: '';
            height: 160px;
            width: 160px;
            position: absolute;
            background-color: $bleakYellow;
            background-image: url('/img/popular-2.svg');
            background-repeat: no-repeat;
            bottom: 80px;
            background-position: center 41px;
        }
    }

    &-3 {

        position: relative;

        &::before {
            content: '';
            height: 160px;
            width: 160px;
            position: absolute;
            background-color: $bleakYellow;
            background-image: url('/img/popular-3.svg');
            background-repeat: no-repeat;
            bottom: 55px;
            background-position: 50px center;
        } 

    }

    &-4 {

        position: relative;

        &::before {
            content: '';
            height: 160px;
            width: 160px;
            position: absolute;
            background-color: $bleakYellow;
            background-image: url('/img/popular-4.svg');
            background-repeat: no-repeat;
            bottom: 55px;
            background-position: 28px center;
        } 

    }


    &-5 {

        position: relative;

        &::before {
            content: '';
            height: 160px;
            width: 160px;
            position: absolute;
            background-color: $bleakYellow;
            background-image: url('/img/popular-5.svg');
            background-repeat: no-repeat;
            bottom: 55px;
            background-position: 55px center;
        } 
    }

    &-6 {

        position: relative;

        &::before {
            content: '';
            height: 160px;
            width: 160px;
            position: absolute;
            background-color: $bleakYellow;
            background-image: url('/img/popular-6.svg');
            background-repeat: no-repeat;
            bottom: 55px;
            background-position: 13px 48px;
        } 

    }

}

.services {

    background-image: linear-gradient(to top, #e5e5e5 74%, rgba(255, 255, 255, 0) 74%, rgba(255, 255, 255, 0) 100%, #e5e5e5 100%);
    padding-bottom: 70px; 

    &__main {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        margin: 0;
        padding: 80px 0 44px;

        width: 285px;
        box-sizing: border-box;
        list-style-type: none;
        border-right: 7px solid #000000;
    }

    &__item {
        margin: 0;
        margin-bottom: 25px;

        font-family: Gilroy, serif;
        font-size: 18px;

    }

    &__button {
        display: inline-block;
        width: 160px;
        padding: 10px;
        background-color: $brightYellow;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        border: none;
        cursor: pointer;
    }

    &__radio:checked + &__button {
        background-color: #000000;
        color: $brightYellow;
    }
}


.description {
    width: 760px;
    padding-top: 70px;

    &__title {
        
        margin: 0;
        
        font-family: Gilroy, serif;
        font-size: 47px;

    }

    &__text {
        margin: 0;
        margin-top: 28px;

        width: 430px;
        line-height: 30px;
        color: #464646;
    }


    &__slide-1 {
        position: relative;

        &::after {
            content: '';
            background-image: url('/img/delivery.svg');
            height: 164px;
            width: 136px;

            position: absolute;
            top: 15px;
            right: 65px;
        }
        
    }

}

.partners {


    &__list {
        margin: 0;
        margin-left: 50px;
        padding: 93px 0 90px 0;
        list-style-type: none;

        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }

    &__item {

        opacity: 0.2;
        filter: grayscale(100%);

       &:hover {
            filter: grayscale(0%);
            opacity: 1;
        } 
    }
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;

    &__heading {
        margin: 49px 0 40px 0;
        padding: 0;

        font-family: Gilroy, serif;
        font-size: 47px;
    }

    &__text {
        margin: 0;
        margin-bottom: 30px;

        line-height: 30px;
        color: #464646;

    }

    &__trade-list {
        list-style-type: circle;
        list-style: circle #e5e5e5;

        line-height: 38px;

        padding: 0;
        padding-left: 20px;

        margin-top: 65px;
        margin-bottom: 60px;
    }

    &__trade-item {
        font-size: 18px;
        color: #e5e5e5;

    }

    &__trade-text {
        font-family: Gilroy, serif;
        font-size: 16px;
        color: #000000;
        padding-left: 15px;
    }

    &__map {
        margin-top: 10px;
        margin-bottom: 70px;
    }

    &__link, &__button {

        display: inline-block;

        width: 260px;
        padding: 10px 0;

        color: #000000;
        background-color: $brightYellow;

        font-family: Gilroy, serif;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        text-decoration: none;
        border: none;
        
    }
}

.about {
    width: 495px;
    position: relative;

    &::before {
        content: '';
        width: 80px;
        height: 7px;
        background-color: #000000;
        position: absolute;
        top: 0;
        left: 0;
    }

}

.contacts {
    width: 560px;
    position: relative;

    &::before {
        content: '';
        width: 80px;
        height: 7px;
        background-color: #000000;
        position: absolute;
        top: 0;
        left: 0;
    }
}