.top-product {
    position: relative;
    bottom: 100px;

    &__1 {
        &::after {
            content: '01';
            font-family: Gilroy, serif;
            font-size: 180px;
            color: #ffffff;
            position: absolute;
            right: 0;
            top: -40px;
        }
    }

    &__2 {
        &::after {
            content: '02';
            font-family: Gilroy, serif;
            font-size: 180px;
            color: #ffffff;
            position: absolute;
            right: 0;
        }
    }

    &__3 {
        &::after {
            content: '03';
            font-family: Gilroy, serif;
            font-size: 180px;
            color: #ffffff;
            position: absolute;
            right: 0;
        }
    }

}

.top-product__slide {
    display: flex;
    justify-content: space-between;
    margin: 0 60px 0 30px;
    position: relative;

    &::before {
        content: '';
        width: 100px;
        height: 7px;
        background-color: #ffffff;
        position: absolute;
        z-index: 1;
        right: 397px;
        top: 35px;
    }

}

.slider{

    width: 500px;

    position: absolute;
    right: 0;
    bottom: 140px;

    display: flex;
    justify-content: space-between;

    &__link {

        width: 220px;
        text-align: center;
        background-color: $brightYellow;

        &_text{
            font-family: Gilroy, serif;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 5px;

            color: #000000;
            text-decoration: none; 
        }
        
    }

    &__buttons {
        display: flex;
        list-style-type: none;
        align-self: center;
    }

    &__button {
        margin-right: 20px;
        padding-left: 15px;

        position: relative;
        cursor: pointer;
    }



}

.slider__radio + .radio-indication {
    position: absolute;
    width: 12px;
    height: 12px;

    border: 1px solid #000000;
    border-radius: 10px; 

    top: -6px;
}

.slider__radio:focus + .radio-indication {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.slider__radio:checked + .radio-indication::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 1px solid #000000;
    border-radius: 10px;
    left: 3px;
    top: 3px;
}

.top-product__img {
    width: 530px;
    margin-right: auto;
    align-self: flex-start;

    &_pic {
        display: block;
        margin: 0 auto;
    }

}

.details {
    width: 500px;
    padding-top: 70px;

    &__lead{
        font-family: Gilroy, serif;
        font-size: 47px;
        line-height: 55px;
    }

    &__ad {

        margin-bottom: 120px; 

        color: #464646;
        line-height: 25px;
        font-weight: lighter;  
    }

}

.char {
    
    width: 500px;
    text-align: left;
    
    &__head {
        font-size: 13px;
        font-weight: 300;
        padding-right: 80px;
    }

    &__value {
        font-family: GilroyLight, serif;
        font-size: 36px;
    }

}



.goods-list {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    padding-top: 200px;
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        width: 160px; 
    }

    &__link {

        font-family: Gilroy, serif;
        font-size: 18px;

        color: #000000;
        text-decoration: none;
    }


    &-1 {

        position: relative;

        &::before {
            content: '';
            height: 160px;
            width: 160px;
            position: absolute;
            background-color: $bleakYellow;
            background-image: url('/img/popular-1.svg');
            background-repeat: no-repeat;
            bottom: 80px;
            background-position: center center;
        }

    }

    &-2 {
        position: relative;

        &::before {
            content: '';
            height: 160px;
            width: 160px;
            position: absolute;
            background-color: $bleakYellow;
            background-image: url('/img/popular-2.svg');
            background-repeat: no-repeat;
            bottom: 80px;
            background-position: center bottom;
        }
    }

    &-3 {

        position: relative;

        &::before {
            content: '';
            height: 160px;
            width: 160px;
            position: absolute;
            background-color: $bleakYellow;
            background-image: url('/img/popular-3.svg');
            background-repeat: no-repeat;
            bottom: 60px;
            background-position: center center;
        } 

    }

    &-4 {

        position: relative;

        &::before {
            content: '';
            height: 160px;
            width: 160px;
            position: absolute;
            background-color: $bleakYellow;
            background-image: url('/img/popular-4.svg');
            background-repeat: no-repeat;
            bottom: 60px;
            background-position: center center;
        } 

    }


    &-5 {

        position: relative;

        &::before {
            content: '';
            height: 160px;
            width: 160px;
            position: absolute;
            background-color: $bleakYellow;
            background-image: url('/img/popular-5.svg');
            background-repeat: no-repeat;
            bottom: 60px;
            background-position: center center;
        } 
    }

    &-6 {

        position: relative;

        &::before {
            content: '';
            height: 160px;
            width: 160px;
            position: absolute;
            background-color: $bleakYellow;
            background-image: url('/img/popular-6.svg');
            background-repeat: no-repeat;
            bottom: 60px;
            background-position: center center;
        } 

    }

}

.services {

    background-color: #e5e5e5;
    padding-bottom: 65px; 

    &__main {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        margin: 0;
        padding: 60px 0 50px;

        width: 285px;
        box-sizing: border-box;
        list-style-type: none;
        border-right: 7px solid #000000;
    }

    &__item {
        margin: 25px 0;

        font-family: Gilroy, serif;
        font-size: 18px;

    }

    &__button {
        display: inline-block;
        width: 160px;
        padding: 8px;
        background-color: $brightYellow;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        border: none;
        cursor: pointer;
    }

    &__radio:checked + &__button {
        background-color: #000000;
        color: $brightYellow;
    }
}


.description {
    width: 760px;
    padding-top: 80px;

    &__title {
        
        margin: 0;
        
        font-family: Gilroy, serif;
        font-size: 47px;

    }

    &__text {
        width: 500px;
        line-height: 30px;
        color: #464646;
    }


    &__slide-1 {
        position: relative;

        &::after {
            content: '';
            background-image: url('/img/delivery.svg');
            height: 164px;
            width: 136px;

            position: absolute;
            top: 0;
            right: 60px;
        }
        
    }

}

.partners {

    &__list {
        margin: 0;
        margin-left: 20px;
        padding: 80px 0;
        list-style-type: none;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    &__item {

        opacity: 0.2;
        filter: grayscale(100%);

       &:hover {
            filter: grayscale(0%);
            opacity: 1;
        } 
    }
}

.contact-info {
    display: flex;
    justify-content: space-between;

    &__heading {
        font-family: Gilroy, serif;
        font-size: 47px;
        margin: 50px 0;
    }

    &__text {
        line-height: 30px;
        color: #464646;
    }
}

.about {
    width: 500px;
    position: relative;

    &::before {
        content: '';
        width: 80px;
        height: 7px;
        background-color: #000000;
        position: absolute;
        top: 0;
        left: 0;
    }

}

.contacts {
    width: 565px;
    position: relative;

    &::before {
        content: '';
        width: 80px;
        height: 7px;
        background-color: #000000;
        position: absolute;
        top: 0;
        left: 0;
    }
}